.panel {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(4.7742px); 

  &__inner {
    padding: 56px 160px;
    display: grid;
    grid-template-areas: 
      "timezone day-of-the-week"
      "day-of-the-year week-number";
  }

  & .label {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;;
  }

  & .value {
    font-size: 56px;
    font-weight: 700;
  }

  &__timezone {
    grid-area: timezone;
  }

  &__day-of-week {
    grid-area: day-of-the-week;
  }

  &__day-of-year {
    grid-area: day-of-the-year;
  }

  &__week-number {
    grid-area: week-number;
  }

  &__timezone,
  &__day-of-week,
  &__day-of-year,
  &__week-number {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  &__day-of-week,
  &__week-number {
    border-left: 1px solid $darkgrey;
    padding-left: 64px;
  }

  &__timezone,
  &__day-of-week {
    padding-bottom: 32px;
  }

    @media (max-width: 1250px) {

    &__inner {
      padding: 56px;
    }

  };

  @media (max-width: 950px) {

  &__inner {
    grid-template-areas: 
      "timezone" 
      "day-of-the-year" 
      "day-of-the-week"
      "week-number";
  }

  &__day-of-week,
  &__week-number {
    border-left: none;
    padding-left: 0;

  }

  &__timezone,
  &__day-of-year,
  &__week-number,
  &__day-of-week {
    padding-bottom: 32px;
  }

  &__timezone,
  &__day-of-week,
  &__day-of-year,
  &__week-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  }

    @media (max-width: 750px) {

    &__timezone,
    &__day-of-week,
    &__day-of-year,
    &__week-number {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
  }

  }

  @media (max-width: 400px) {

    &__inner {
      padding: 56px 24px;
    }

  }


}