
.icon {
  display: inline-block;
  font: normal normal normal 1em/1 'Icon';
  color: inherit;
  flex-shrink: 0;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons: (
  arrow: 'ea02',
  moon: 'ea03',
  sun: 'ea04',
  reload: 'ea05',
);

@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

@each $name, $code in $icons {
  .icon--#{"" +$name}::before {
    content: unicode($code);
  }
}